.undefined
{
display:none;
}

.footer
{
color:#999;
font-size: 14px;
padding-left:100px;
padding-top:30px;
}

.footer h4
{
font-weight:bold;
}

.footer ul li
{
float:left;
margin-right: 70px;
}
.footerLine
{
width:100%;
height:1px;
border: 1px solid #000000;
}


ody ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 0 0px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 0 0 0 0;
    padding: 0;
    background-color:#ffdead;
    border: 1px solid black;
    border-color: #ff7f50;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading h3 {
    display: block;
    clear: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    color: black;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading h3 span {
    margin: 0;
    padding: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading h3 span.http_method a {
    text-transform: uppercase;
    background-color: #ff4500;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 50px;
    font-size: 0.7em;
    text-align: center;
    padding: 7px 0 4px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading h3 span.path {
    padding-left: 10px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading h3 span.path a {
    color: black;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading h3 span.path a:hover {
    text-decoration: underline;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options {
    float: none;
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
    clear: none;
    float: right;
    margin: 6px 10px 0 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li {
    float: left;
    clear: none;
    margin: 0;
    padding: 2px 10px;
    border-right: 1px solid #dddddd;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li:first-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li.first {
    padding-left: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li:last-child, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li.last {
    padding-right: 0;
    border-right: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li {
    border-right-color: #ff7f50;
    color: # tff4500;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li a {
    color: # tff4500;
    text-decoration: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li a:hover, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li a:active, body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li a.active {
    text-decoration: underline;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content {
    background-color: #ffdead;
    border: 1px solid black;
    border-color: #ff7f50;
    border-top: none;
    padding: 10px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 0 20px 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content h4 {
    color: # tff4500;
    font-size: 1.1em;
    margin: 0;
    padding: 15px 0 5px 0px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content form input[type='text'].error {
    outline: 2px solid black;
    outline-color: #cc0000;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content div.sandbox_header {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content div.sandbox_header input.submit {
    display: block;
    clear: none;
    float: left;
    padding: 6px 8px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content div.sandbox_header img {
    display: block;
    display: block;
    clear: none;
    float: right;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content div.sandbox_header a {
    padding: 4px 0 0 10px;
    color: #c8787a;
    display: inline-block;
    font-size: 0.9em;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content div.response div.block {
    background-color: #fcf6db;
    border: 1px solid black;
    border-color: #e5e0c6;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content div.response div.block pre {
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding: 10px;
    font-size: 0.9em;
    max-height: 400px;
    overflow-y: auto;
}
