#foreach ($!inputParameter in $!inputParameters)
#if ($!inputParameter.isOptional())
	#set ($classType = "optional")
#else
	#set ($classType = "required")
#end	
<tr>	
<td class="code $classType">$!inputParameter.getName()</td>
<td>
#if ($!inputParameter.getContentType())
#set ($inputType = "textarea")
	<textarea class='body-textarea' name='$!inputParameter.getName()'></textarea>
	<br>
	<div class="content-type">
    	<div>
    		<label for="contentType">Parameter content type:</label>
    		<select name="contentType">
    			#foreach ($!contentType in $!inputParameter.getContentType())
    				<option value="$!contentType">$!contentType</option>
    			#end	
    		</select>
    	</div>
    </div>
#else	
	#set ($inputType = "text")
	<input class="body-$classType" type=$inputType value="" placeholder=($classType) name=$!inputParameter.getName()>
#end
</td>
<td>$!inputParameter.getDescription()</td>
<td id="$!{resourceName}_$!{operationName}_$!{httpMethod}_$!{number}_$!{inputParameter.getName()}_parameter_type">$!inputParameter.getType()</td>
</tr>
#end
