<li id="resource_$!resourceName" class = "resource active">
<div class='heading'>
    <h2>
        <a href='#!/$!resourceName' onclick="Docs.toggleEndpointListForResource('$!resourceName');">/$!resourceName</a>
    </h2>
    <ul class='options'>
        <li>
            <a href='#!/$!resourceName' id='endpointListTogger_$!resourceName'
               onclick="Docs.toggleEndpointListForResource('$!resourceName');">Show/Hide</a>
        </li>
        <li>
            <a href='#' onclick="Docs.collapseOperationsForResource('$!resourceName'); return false;">
                List Operations
            </a>
        </li>
        <li>
            <a href='#' onclick="Docs.expandOperationsForResource('$!resourceName'); return false;">
                Expand Operations
            </a>
        </li>
		<!--
        <li>
            <a href='$path'>Raw</a>
        </li>
		-->
    </ul>
</div>
<ul class='endpoints' id='$!{resourceName}_endpoint_list' style='display:none'>