<div>----------------------------------------------------</div>
<ul class='test'>
	<li>operationName: 
			$!operationName
		
		</li>
		#if($resourceName)
		<li>resourceName:
			$resourceName
		</li>
		#end
	
		#if($description)
			<li>description:
			$description
			</li>
		#end

		#if($path)
			<li>path:
			$path
			</li>
		#end
	
	<li>Input
		<ul>
			
			#if($input.getType())
				<li>Type: $input.getType()</li>
			#end
			
			#if
				($input.getDescription())<li>Description: $input.getDescription()</li>
			#end
			#if($input.getRef())
				<li>Ref: $input.getRef()</li>
			#end
			#if($input.getParams())
				<li>
        		Parameters:
        		<ul>
        			#foreach ($param in $input.getParams())
        			<li>
						<ul>
							#if($param.getBinding())
								<li>Binding: $param.getBinding()</li>
							#else	
    							#if($param.getName())
    							<li>Name: $param.getName()</li>
    							#end
    							#if($param.getDescription())
    							<li>Description: $param.getDescription()</li>
    							#end
    							#if($param.getMode())
    							<li>Mode: $param.getMode()</li>
    							#end
    							
    							#if($param.getType())
    								<li>Type:$param.getType()</li>
								#end
							#end	
							<li>
								#if ($param.isOptional())
									#set ($classType = "optional")
								#else
									#set ($classType = "required")
								#end
								<input type=$param.getBinding() value="" placeholder=($classType) name=$param.getName()>
							</li>
						</ul>
					</li>
					#end
        		</ul>
				#else
					No Parameters specified!
				#end
			</li>
			<li>
			#if($input.getParams())
    		Content Types:
        		<ul>
        			#foreach ($contentType in $input.getContentType())
        				<li>$contentType</li>
					#end
        		</ul>
			#else
				<span class="undefined">Undefined</span>
			#end
			</li>
		</ul>	
	</li>
	<li>Output
		<ul>
			<li>Type: 
				#if($output.getType())
					$output.getType()
				#else
				<span class="undefined">Undefined</span>
				#end
			</li>
			<li>ContentType: 
				#if($output.getContentType())
				<ul>
					#foreach ($type in $output.getContentType())
						<li>Type: $type</li>
					#end
				</ul>
				#else
				<span class="undefined">Undefined</span>
				#end
			</li>
			<li>Description: 
				#if($output.getDescription())
					$output.getDescription()
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
			<li>Headers: 
				#if($output.getHeaders())
				<ul>
					#foreach ($header in $output.getHeaders())
						<li>Name: 
							#if($header.getName())
								$header.getName()
							#else
								<span class="undefined">Undefined</span>
							#end
						</li>
						<li>Description: 
							#if($header.getDescription())
								$header.getDescription()
							#else
								<span class="undefined">Undefined</span>
							#end
							</li>
						<li>Ref: 
							#if($header.getRef())
								$header.getRef()
							#else
								<span class="undefined">Undefined</span>
							#end
						</li>
					#end
				</ul>
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
			<li>Ref: 
				#if($output.getRef())
					$output.getRef()
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
			<li>Status: 
				#if($output.getStatus())
					$output.getStatus()
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
		</ul>
	</li>
	<li>httpMethod:
		#if($httpMethod)
			$httpMethod
		#else
			<span class="undefined">Undefined</span>
		#end
	</li>
	<li>Error List
		#if($errors)
		<ul>
			#foreach ($error in $errors)
				<li>status: $error.getStatus() - cause: $error.getCause()</li>
			#end
		</ul>
		#else
			<span class="undefined">Undefined</span>
		#end
</li>
<div>----------------------------------------------------</div>
</ul>	